<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
            <!-- Analytics -->
            {% include analytics.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
                    <li><a href="/links">Links</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Github: 
                            <span style="font-weight:normal"><a href="https://github.com/AustinT">github.com/AustinT</a></span>
                    </li><br>
                    <li>Professional Email: 
                            <span style="font-weight:normal">austin period james period tripp AT gmail period com</span>
                    </li><br>
                    <li>Cambridge Email: 
                            <span style="font-weight:normal">[first/middle/last initial]212 AT cam.ac.uk</span>
                    </li>
                    <li> <span style="font-weight:normal"><a href="https://scholar.google.com/citations?user=WAvRaxMAAAAJ">Google Scholar</a></span>
                    </li>
				</ul>
			</footer>
		</body>
